.container {
  padding: 28px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 268px;
  width: 100%;
  background: var(--bs-white);
  position: relative;
}
.title {
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 100% */
  letter-spacing: -0.68px;
  margin-bottom: 18px;
}
.subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.statImg {
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  right: 28px;
}