.container {
  width: 100%;
  min-height: 100%;
  background: #F5F7FA;
  padding: 30px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.badgeSuccess {
  padding: 7px;
  background: #e8fff3;
  color: var(--bs-teal);
}
.badgeDanger {
  padding: 7px;
  background: #fff5f8;
  color: var(--bs-red);
}